<nav class="menu">

    <ul class="menu-list menu__item menu__item--left">
        <li class="menu-list__item">
            <a href="/" class="menu-list__link">Home</a>
        </li><!--
     --><li class="menu-list__item">
            <a href="/about" class="menu-list__link">About</a>
        </li><!--
     --><li class="menu-list__item">
            <a href="/contacts" class="menu-list__link">Contacts</a>
        </li>
    </ul>

    <ul class="menu-list menu__item">
        <li class="menu-list__item">
            <a href="/login" class="menu-list__link">Login</a>
        </li><!--
     --><li class="menu-list__item">
            <a href="/signup" class="menu-list__link">Sign Up</a>
        </li>
    </ul>

</nav>
