<form name="form" novalidate>
    <div layout="column">
        <md-input-container>
            <label>Email</label>
            <input name="email" type="email" required>
        </md-input-container>
    </div>
    <div layout="column">
        <md-input-container>
            <label>Password</label>
            <input type="password" name="password" required>
        </md-input-container>
    </div>
    <div layout="column">
        <md-input-container>
            <md-checkbox>
                Remember me
            </md-checkbox>
        </md-input-container>
    </div>
    <div layout="row" layout-xs="column">
        <md-button class="md-raised md-primary" flex type="submit">Login</md-button>
    </div>
</form>
